<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
<meta charset="UTF-8">
<title>顧客情報編集</title>
<object th:replace="/CommonPartsForHTML/parts1 :: linkBasic"></object>
<object
	th:replace="/CommonPartsForHTML/parts1 :: linkDatepickerForCalendar"></object>
</head>
<body>
	<div th:replace="/CommonPartsForHTML/parts1 :: naviCopy"></div>
	<div class="container">
		<h1>イベント管理</h1>
		<div class="col-sm-12">
			<form th:action="@{/maintenance/newsOperation/eventEdit}"
				th:object="${eventForm}" class="form-horizontal" method="post">
				<fieldset>
				<div th:if="*{id}" >
					<legend>イベント情報編集</legend>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('id')}? 'has-error has-feedback'">
						<label for="id" class="col-sm-2 control-label">ＩＤ</label>
						<div class="col-sm-10">
							<span th:text="*{id}">10</span>
						</div>
					</div>
					</div>
					<div th:unless="*{id}" >
					<legend>イベントの作成</legend>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('eventDate')}? 'has-error has-feedback'">
						<label for="eventDate" class="col-sm-2 control-label">イベント日</label>

						<div class="col-sm-10">
							<input type="text" id="eventDate" name="eventDate"
								th:field="*{eventDate}" class="form-control" value="2018/8/10">
							<span th:if="${#fields.hasErrors('eventDate')}"
								th:errors="*{eventDate}" class="help-block">error!</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('postingDate')}? 'has-error has-feedback'">
						<label for="postingDate" class="col-sm-2 control-label">掲載日</label>

						<div class="col-sm-10">
							<input type="text" id="postingDate" name="postingDate"
								th:field="*{postingDate}" class="form-control" value="2018/4/1">
							<span th:if="${#fields.hasErrors('postingDate')}"
								th:errors="*{postingDate}" class="help-block">error!</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('postingEndDate')}? 'has-error has-feedback'">
						<label for="postingEndDate" class="col-sm-2 control-label">掲載終了日</label>

						<div class="col-sm-10">
							<input type="text" id="postingEndDate" name="postingEndDate"
								th:field="*{postingEndDate}" class="form-control"
								value="2018/08/31"> <span
								th:if="${#fields.hasErrors('postingEndDate')}"
								th:errors="*{postingEndDate}" class="help-block">error!</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('title')}? 'has-error has-feedback'">
						<label for="title" class="col-sm-2 control-label">イベントタイトル</label>

						<div class="col-sm-10">
							<input type="text" id="title" name="title" th:field="*{title}"
								class="form-control" value="イベント　テスト"> <span
								th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
								class="help-block">error!</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('eventContents')}? 'has-error has-feedback'">
						<label for="eventContents" class="col-sm-2 control-label">詳細：リンク先</label>

						<div class="col-sm-10">
							<input type="text" id="eventContents" name="eventContents"
								th:field="*{eventContents}" class="form-control"
								value="イベントの場所、日時等"> <span
								th:if="${#fields.hasErrors('eventContents')}"
								th:errors="*{eventContents}" class="help-block">error!</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('postingEndF')}? 'has-error has-feedback'">
						<label for="postingEndF" class="col-sm-2 control-label">掲載の有無</label>
						<div class="col-sm-10">
							<label> <input type="checkbox" id="postingEndF"
								name="postingEndF" value="true" th:field="*{postingEndF}" />
								掲載しない
							</label>
						</div>
						<span th:if="${#fields.hasErrors('postingEndF')}"
							th:errors="*{postingEndF}" class="help-block">error!</span>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<input type="submit" class="btn btn-default" name="goToBack"
								value="戻る"> <input type="hidden" name="id"
								th:value="${param.id[0]}">

								 <input th:if="*{id}" type="submit"
								class="btn btn-primary" name="edit" value="更新">


					 <input th:unless="*{id}" type="submit"
								class="btn btn-primary" name="create" value="作成">

						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div th:replace="/CommonPartsForHTML/parts1 :: scriptBasic"></div>
	<div
		th:replace="/CommonPartsForHTML/parts1 :: scriptDatepickerForCalendar"></div>

	<!-- 	カレンダ用 -->
	<script>
		$(function() {
			$("#eventDate").datepicker();
			$("#eventDate").datepicker("option", "showOn", 'both');

			$("#postingDate").datepicker();
			$("#postingDate").datepicker("option", "showOn", 'both');

			$("#postingEndDate").datepicker();
			$("#postingEndDate").datepicker("option", "showOn", 'both');
		});
	</script>
	<!-- 	カレンダ用 -->
</body>
</html>